.todo-item {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  justify-content: space-between;
  margin-left: 2em;
  text-transform: uppercase;
  font: bolder larger "Roboto";

  .task-completed {
    text-align: center;
    border: 2px solid #525252;
    width: 40px;
    background: #525252;
    color: #a0a0a0;
  }

  .done-icon {
    color: white;
  }

  .id {
    text-align: center;
    border: 2px solid rgb(93, 0, 86);
    width: 40px;

    &:hover {
      background: rgb(93, 0, 86);
      color: white;
    }

  }

  .line {
    text-decoration: line-through;
    // align-self: center;
    // font: bolder small "Roboto";
    color: #525252;
  }

  .actions {
    display: flex;
    color: rgb(36, 36, 36);

    .btn {
      background: none;
      border: none;
      outline: none;

      &:hover {
        color: rgb(112, 0, 93);
      }
    }
  }



  .item {
    padding-right: 2em;

    &:hover {
      cursor: pointer;
    }
  }
}