.todo-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0px 10px;
  border-left: 5px solid #353535;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: bolder;
  font-size: larger;
  margin-left: 5em;
  margin-right: 4em;
  margin-bottom: 10px;
  .line{
    text-decoration: line-through;
    color: #525252;
  }

  .actions {
    display: flex;
    color: rgb(36, 36, 36);
    // justify-self: end;
    justify-content: space-around;

    .btn {
      background: none;
      border: none;
      margin: 0px 1em;
      outline: none;
      &:hover{
        color: rgb(112, 0, 93);
      }
    }
  }



  .item {
    &:hover {
      cursor: pointer;
    }
  }
}