.todo-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  ;
  padding: 0px 10px;
  text-transform: uppercase;
  font: bolder larger "Roboto";

  .id {
    text-align: center;
    border: 2px solid rgb(93, 0, 86);
    width: 40px;

    &:hover {
      background: rgb(93, 0, 86);
      color: white;
    }

  }

  .line {
    text-decoration: line-through;
    color: #525252;
  }

  .actions {
    display: flex;
    color: rgb(36, 36, 36);

    .btn {
      background: none;
      border: none;
      outline: none;

      &:hover {
        color: rgb(112, 0, 93);
      }
    }
  }



  .item {
    &:hover {
      cursor: pointer;
    }
  }
}